@(tweetForm : Form[Tweet], user : User, p : Int, tables : List[Integer], tables_size : Int)

@layout("つぶやき一覧"){
<!--navバー-->
<nav class="navbar navbar-default navbar-fixed-top mt-5">
    <div class="container">
        <div class="navbar-header">
            <a href="@routes.TweetsController.page(0)">
                <i class="fa fa-twitter" style="font-size:48px;color:LightSkyBlue"></i>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @if(session.get("userID") != null){
                    <a href="@routes.UsersController.switch_pub_or()">
                        @if(session.get("private_or") == "1"){
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        }
                        @if(session.get("private_or") == "0"){
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        }
                    </a>
                    }
                </li>
                <!--ログインセッション次第で、出力を変える-->
                @if(session.get("userID") != null){
                <li>
                    <a href="@routes.TweetsController.page(0)">ホーム</a>
                </li>
                <li>
                    <a href="@routes.UsersController.search()">ユーザー検索</a>
                </li>
                <li>
                    <a href="@routes.LoginController.logout()">ログアウト</a>
                </li>
                }else{@if(session.get("userID") == null){
                <li>
                    <a>ホーム</a>
                </li>
                <li>
                    <a href="@routes.UsersController.create()">ユーザー登録</a>
                </li>
                <li>
                    <a href="@routes.LoginController.login()">ログイン</a>
                </li>
                }}
                <li>
                <li class="active">
                    @if(session.get("userID") != null){
                    <a href="@routes.UsersController.show(user.id)">@session.get("userID")</a>
                    }
                </li>
                <li>
                    @if(session.get("userID") == null){

                    }
                </li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>

    <!--2段目のnavbar-->
    <div class="col-md-12">
        <div class="navbar-header">
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <!--ログインセッション次第で、出力を変える-->
                        <a>　　　</a>
                    </li>
                    <li class="bg-success">
                        <a href="@routes.UsersController.show(user.id)">@user.getUserName</a>
                    </li>
                    <li>
                        <a>ツイート<br> <strong class="text-primary"><font size="3">@user.getTweets.size()</font></strong></a>
                    </li>
                    <li>
                        <a href="@routes.FollowsController.show(user.id, 0)">フォロー<br> <strong class="text-primary"><font size="3">@user.get_this_Followed_list(user.id).size()</font></strong></a>
                    </li>
                    <li>
                        <a href="@routes.FollowsController.show_ver2(user.id, 0)">フォロワー<br> <strong class="text-primary"><font size="3">@user.get_this_beFollowed_list(user.id).size()</font></strong></a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
            　<!--空白注意-->
        </div>
    </div>
    <!--2段目navbar終了-->

</nav>
<!--navバー終了-->
<br>

    @helper.form(action = routes.TweetsController.save()){
        @helper.textarea(tweetForm("mutter") , 'maxlength->"140", 'placeholder ->"今何してる？",
                            'rows-> 4, '_label-> "", 'class->"form-control", 'size->"30")
        <input type="submit" value="ツイートする" class="btn btn-primary">
    }

    <p>@(p + 1) ページ目</p>

    @for(i <- tables){
        @if(! (tables.isEmpty()) ){
                @if(! (Tweet.find.byId(i).getUser.private_or) ){
                    @if( (p == 0 ) && ( i == tables.head ) ) {
                        <div class="panel panel-danger">
                            <p>
                                <!--セッションの場合に分けてリンク先を変える-->
                                <a href="@routes.UsersController.show(Tweet.find.byId(i).getUser.id)">
                                    <strong>@Tweet.find.byId(i).getUser.getUserName</strong>
                                </a>
                            </p>
                            <p href="@routes.UsersController.show(Tweet.find.byId(i).id)" class="col">
                            </p>
                            @Html(
                            Tweet.find.byId(i).mutter
                            )
                            <br><br>
                            <a class="text-muted">@Tweet.find.byId(i).formatDate(Tweet.find.byId(i).createdDate)</a>
                            　　　　　<!--空白注意-->
                            </a>
                            <!--セッション制御で、削除を表示-->
                            @if(session.get("userID").equals(Tweet.find.byId(i).getUser.userID)){
                            <a href="@routes.TweetsController.destroy(i)" onclick="return(confirm('このツイートを本当に削除しますか？'))">
                                <span class="glyphicon glyphicon-trash">　　　　<!--空白注意--></span>
                            </a>
                            }
                        </div>
                    }else{
                        <div class="panel panel-info">
                            <p>
                                <!--セッションの場合に分けてリンク先を変える-->
                                <a href="@routes.UsersController.show(Tweet.find.byId(i).getUser.id)">
                                    <strong>@Tweet.find.byId(i).getUser.getUserName</strong>
                                </a>
                            </p>
                            <p href="@routes.UsersController.show(Tweet.find.byId(i).id)" class="col">
                            </p>
                            @Html(
                                Tweet.find.byId(i).mutter
                            )

                            <br><br>
                            <a class="text-muted">@Tweet.find.byId(i).formatDate(Tweet.find.byId(i).createdDate)</a>
                            　　　　　<!--空白注意-->
                            <!--セッション制御で、削除を表示-->
                            @if(session.get("userID").equals(Tweet.find.byId(i).getUser.userID)){
                                <a href="@routes.TweetsController.destroy(i)" onclick="return(confirm('このツイートを本当に削除しますか？'))">
                                    <span class="glyphicon glyphicon-trash">　　　　<!--空白注意--></span>
                                </a>
                            }
                        </div>
                    }
            }
        }
    }
    <ul class="pagination pull-right">
        @if(! (tables.isEmpty()) ){
            @if(p == 0){
                <li class="disabled"><a><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            }else{
                <li><a href="@routes.TweetsController.page(p - 1)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            }
            <!-- ページには3パターン考えられる -->
            <!-- ツイート数が10未満の時、10以上の時、ページ末端で例えば6個分のツイートだと表示させる数字を切り替える -->
            <li>
                @if(tables.size() < 10){
                    @if(tables.size() != 0){
                        <a>[ @(p * 10 + 1) ~ @((p * 10) + tables.size()) ] of @(tables_size)</a>
                    }else{
                        <a>0</a>
                    }
                }else{@if(tables.size() == 10){
                    <a >[ @(p * 10 + 1) ~ @((p + 1)*10) ] of @(tables_size)</a>
                }}
            </li>
            @if(((p + 1) * 10) >= (tables_size)){
                <li class="disabled"><a><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            }else{
                <li><a href="@routes.TweetsController.page(p + 1)"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            }
        }
    </ul>
}