@(p : Int, tweets : List[Tweet])

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

@layout("ページ"){
    <p>@(p + 1) ページ目</p>

    @for(tweet <- tweets){
        @if(! (tweets.isEmpty()) ){
            @if(! (tweet.getUser.private_or) ){
                <div class="panel panel-info">
                    <p>
                        <!--セッションの場合に分けてリンク先を変える-->
                        <a href="@routes.UsersController.show(tweet.getUser.id)">
                            <strong>@tweet.getUser.getName</strong>
                        </a>
                        <span class="">@@</span>@tweet.getUser.getUserName
                        • @tweet.createdDate
                    </p>
                    <p href="@routes.UsersController.show(tweet.id)" class="col">@tweet.mutter</p>

                    <p class="test">
                        初めてのJavaScript勉強中だよ！
                    </p>

                    <br>
                    　　　　　<!--空白注意-->
                    <a href="" class=""><span class="glyphicon glyphicon-retweet">　　　　<!--空白注意--></span></a>
                    <!--いいね機能実装-->
                    <a href="" class="">
                        <span class="glyphicon glyphicon-heart">
                            <!--いいね機能未実装-->
                            　　　　<!--空白注意-->
                        </span>
                    </a>
                    <!--セッション制御で、削除を表示-->
                    @if(session.get("userID").equals(tweet.getUser.userID)){
                        <a href="@routes.TweetsController.destroy(tweet.id)" onclick="return(confirm('このツイートを本当に削除しますか？'))">
                            <span class="glyphicon glyphicon-trash">　　　　<!--空白注意--></span>
                        </a>
                    }
                </div>
            }
        }
    }
    <ul class="pagination pull-right">
        @if(p == 0){
            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        }else{
            <li><a href="@routes.TweetsController.page(p - 1)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        }
        <!-- ページには3パターン考えられる -->
        <!-- ツイート数が10未満の時、10以上の時、ページ末端で例えば6個分のツイートだと表示させる数字を切り替える -->
        <li>
            @if(tweets.size() < 10){
                <a href="#">[ @(p * 10) ~ @((p * 10) + tweets.size()) ] of @(Tweet.find.all().size())</a>
            }else{@if(Tweet.find.all().size() > 10){
                <a href="#">[ @(p * 10) ~ @((p + 1)*10) ] of @(Tweet.find.all().size())</a>
            }}
        </li>
        @if(((p + 1) * 10) >= (Tweet.find.all().size())){
            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        }else{
            <li><a href="@routes.TweetsController.page(p + 1)"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        }

    </ul>
}