@(userForm : Form[User])

@import helper._

@layout("ユーザー登録"){

@if(userForm.error("name") != null){
<p class="text-danger">
    名前を入力してください
</p>
}
@if(userForm.error("userID") != null){
<p class="text-danger">
    ユーザー名を入力してください
</p>
}
@if(userForm.error("password") != null){
<p class="text-danger">
    パスワードを入力してください
</p>
}
@if(userForm.error("email") != null){
<p class="text-danger">
    メールアドレスを入力してください
</p>
}

    <h1>新規ユーザー登録</h1>
    @helper.form(action = routes.UsersController.save()){
        @helper.inputText(userForm("name"), '_label->"名前", 'size->"30", 'required-> "名前を入力してくださいttt")
        @helper.inputText(userForm("userID"), '_label->"ユーザー名(ユーザーID)", 'size->"30")
        @helper.inputText(userForm("password"), '_label->"パスワード", 'size->"30", 'type->"password")
        @helper.inputText(userForm("password_confirm"), '_label->"パスワード(確認用)", 'size->"30", 'type->"password")
        @helper.inputText(userForm("email"), '_label->"Eメール", 'size->"30")
        @helper.checkbox(userForm("private_or"), '_label->"非公開" )
        <input type="submit" value="作成" class="btn btn-primary">
    }
}