@(userForm : Form[User], p : Int, user_name : String, tables : List[Integer], tables_size : Int)


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

@layout("ユーザー検索結果"){
    <div class="container">

        <p class="lead">@user_name の検索結果</p>
        <p class="lead">ユーザー名や名前で検索</p>
        @helper.form(action = routes.UsersController.do_search(0, 1)){
        @helper.inputText(userForm("name_search")
            , 'rows-> 4, '_label-> "", 'class->"form-control", 'size->"40")
        <input type="submit" value="検索" class="btn btn-primary">
        }
    </div>
    @if(tables != null){
        @for(i <- tables){
            <div class="panel panel-danger">
                <span>
                    <!--セッションの場合に分けてリンク先を変える-->
                    <a href="@routes.UsersController.show(User.find.byId(i).id, 0)">
                        <strong>@User.find.byId(i).getUserName</strong>
                    </a>
                    <span class="">　</span>@User.find.byId(i).getName
                    <span>　</span>
                    <a>
                        @if(!(session.get("userID").equals(User.find.byId(i).userID))){
                            @if(User.find.byId(i).get_whitch_follow_or(i, Integer.parseInt(session.get("id")))){
                                <a href="@routes.FollowsController.follow(User.find.byId(i).id)">フォローする</a>
                            }
                            @if(!(User.find.byId(i).get_whitch_follow_or(i, Integer.parseInt(session.get("id"))))){
                                <a href="@routes.FollowsController.follow(User.find.byId(i).id)">フォローを外す</a>
                            }
                        }
                    </a>
                </span>
                @if(! (User.find.byId(i).getTweets.isEmpty) ){
                    <span style="white-space: pre-wrap;">
@Html(User.find.byId(i).getTweets.last.mutter)
                    </span>
                    <br>
                    <a class="text-muted">@User.find.byId(i).getTweets.last.formatDate(User.find.byId(i).getTweets.last.createdDate)</a>
                <a class="text-muted">　最新のつぶやき</a>
                    　　　　　<!--空白注意-->
                    <!--セッション制御で、削除を表示-->
                    @if(session.get("userID").equals(User.find.byId(i).userID)){
                        <a href="@routes.TweetsController.destroy(User.find.byId(i).getTweets.last.id)" onclick="return(confirm('このツイートを本当に削除しますか？'))">
                            <span class="glyphicon glyphicon-trash">　　　　<!--空白注意--></span>
                        </a>
                    }
                }else{
                    <p class="text-danger">※このユーザーはツイートしていません</p>
                }
            </div>
        <br>
        <!-- フォローユーザーの呟き一覧 -->
        <!-- フォローユーザーの呟き一覧終了 -->
        }
        <br>
    }

    <ul class="pagination pull-right">
        @if(tables != null){
            @if(p == 0){
                <li class="disabled"><a><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            }else{
                <li><a href="@routes.UsersController.do_search(p - 1, 0)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            }
            <!-- ページには3パターン考えられる -->
            <!-- ツイート数が10未満の時、10以上の時、ページ末端で例えば6個分のツイートだと表示させる数字を切り替える -->
            <li>
                @if(tables.size() < 10){
                    @if(tables.size() != 0){
                    <a>[ @(p * 10 + 1) ~ @((p * 10) + tables.size()) ] of @(tables_size)</a>
                    }else{
                        <a>0</a>
                    }
                }else{@if(tables.size() == 10){
                    <a>[ @(p * 10 + 1) ~ @((p + 1)*10) ] of @(tables_size)</a>
                }}
            </li>
            @if(((p + 1) * 10) >= (tables_size)){
                <li class="disabled"><a><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            }else{
                <li>
                    <a href="@routes.UsersController.do_search(p + 1, 0)">
                        <span class="glyphicon glyphicon-chevron-right">
                        </span>
                    </a>
                </li>
            }
        }
    </ul>
}