@(userForm : Form[User],user_name : String, tables : List[Integer])


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

@layout("ユーザー検索結果"){
    <div class="container">
        <p class="lead">@user_name の検索結果</p>
        <p class="lead">ユーザー名や名前で検索</p>
        @helper.form(action = routes.UsersController.do_search()){
        @helper.inputText(userForm("name_search")
        , 'rows-> 4, '_label-> "", 'class->"form-control", 'size->"40")
        <input type="submit" value="送信" class="btn btn-primary">
        }
    </div>
    @if(tables != null){
        @for(i <- tables){
        <ul>
            <a href="@routes.UsersController.show(i)"><font size="3">@User.find.byId(i).getName</font></a>
            <span>@@@User.find.byId(i).getUserName</span>
        </ul>
        <br>
        <!-- フォローユーザーの呟き一覧 -->
        <!-- フォローユーザーの呟き一覧終了 -->
        }
        <br>
    }
}