@(tweets : List[Tweet], user : User )


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

@layout("ユーザー詳細"){
    <!--navバー-->
    <nav class="navbar navbar-default navbar-fixed-top mt-5">
        <div class="container">
            <div class="navbar-header">
                <a href="@routes.TweetsController.page(0)">
                    <i class="fa fa-twitter" style="font-size:48px;color:LightSkyBlue"></i>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if(session.get("userID") != null){
                        <a href="@routes.UsersController.switch_pub_or()">
                            @if(session.get("private_or") == "1"){
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            }
                            @if(session.get("private_or") == "0"){
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            }
                        </a>
                        }
                    </li>
                    <!--ログインセッション次第で、出力を変える-->
                    @if(session.get("userID") != null){
                    <li>
                        <a href="@routes.TweetsController.page(0)">ホーム</a>
                    </li>
                    <li>
                        <a href="@routes.UsersController.search()">ユーザー検索</a>
                    </li>
                    <li>
                        <a href="@routes.LoginController.logout()">ログアウト</a>
                    </li>
                    }else{@if(session.get("userID") == null){
                    <li>
                        <a>ホーム</a>
                    </li>
                    <li>
                        <a href="@routes.UsersController.create()">ユーザー登録</a>
                    </li>
                    <li>
                        <a href="@routes.LoginController.login()">ログイン</a>
                    </li>
                    }}
                    <li>
                    <li class="active">
                        @if(session.get("userID") != null){
                        <a href="">@session.get("userID")</a>
                        }
                    </li>
                    <li>
                        @if(session.get("userID") == null){

                        }
                    </li>
                </ul>

            </div><!--/.nav-collapse -->
        </div>
        <!--2段目のnavbar-->
        <div class="col-md-12">
            <div class="navbar-header">
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <!--ログインセッション次第で、出力を変える-->
                            <a>　　　</a>
                        </li>
                        <li class="bg-success">
                            <a href="">@user.getUserName</a>
                        </li>
                        <li>
                            @if(!(session.get("userID").equals(user.userID))){
                                @if(user.get_whitch_follow_or(user.id, Integer.parseInt(session.get("id")))){
                                    <a href="@routes.FollowsController.follow(user.id)">フォローする</a>
                                } else{@if(!(user.get_whitch_follow_or(user.id, Integer.parseInt(session.get("id"))))){
                                    <a href="@routes.FollowsController.follow(user.id)">フォローを外す</a>
                                }}
                            }
                        </li>
                        <li>
                            <a>ツイート<br> <strong class="text-primary"><font size="3">@user.getTweets.size()</font></strong></a>
                        </li>
                        <li>
                            <a href="@routes.FollowsController.show(user.id, 0)">フォロー<br>
                                <strong class="text-primary">
                                    <font size="3">
                                        @user.get_this_Followed_list(user.id).size()
                                    </font>
                                </strong>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.FollowsController.show_ver2(user.id, 0)">フォロワー<br> <strong class="text-primary"><font size="3">@user.get_this_beFollowed_list(user.id).size()</font></strong></a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
                　<!--空白注意-->
            </div>
        </div>
        <!--2段目navbar終了-->

    </nav>
    <!--navバー終了-->

    @for(tweet <- tweets){
        @if(! (user.private_or) ){
            <div class="panel panel-info">
                <p>
                    <!--セッションの場合に分けてリンク先を変える-->
                    <a href="@routes.UsersController.show(tweet.getUser.id)">
                        <strong>@tweet.getUser.getUserName</strong>
                    </a>
                </p>
                <p href="@routes.UsersController.show(tweet.id)" class="col">
                    <!-- @tweet.mutter -->
                </p>
                @Html(
                    tweet.mutter
                )
                <br><br>
                <a class="text-muted">@tweet.formatDate(tweet.createdDate)</a>
                　　　　　<!--空白注意-->
                <!--セッション制御で、削除を表示-->
                @if(session.get("userID").equals(tweet.getUser.userID)){
                    <a href="@routes.TweetsController.destroy(tweet.id)" onclick="return(confirm('このツイートを本当に削除しますか？'))">
                        <span class="glyphicon glyphicon-trash">　　　　<!--空白注意--></span>
                    </a>
                }
            </div>
        }
    }

    @if(user.private_or){
        <br>
        <h5>このユーザーは非公開設定です</h5>
    }
}