@(user : User, tables : List[Integer])


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

@layout("フォロワーユーザー一覧"){
    <!--navバー-->
    <nav class="navbar navbar-default navbar-fixed-top mt-5">
        <div class="container">
            <div class="navbar-header">
                <a href="@routes.TweetsController.page(0)">
                    <i class="fa fa-twitter" style="font-size:48px;color:LightSkyBlue"></i>
                </a>
                　<!--空白注意-->
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @if(session.get("id") != null){
                        <li><a href="@routes.UsersController.search()">ユーザー検索</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    </li>
                    <li>
                        <a href="@routes.TweetsController.page(0)">ホーム</a>
                    </li>
                    <li>
                        <!--ログインセッション次第で、出力を変える-->
                        @if(session.get("userID") != null){
                            <a href="@routes.LoginController.logout()">ログアウト</a>
                        }
                        @if(session.get("userID") == null){
                            <a href="@routes.LoginController.login()">ログイン</a>
                        }
                    </li>
                    <li class="active">
                        @if(session.get("name") != null){
                            <a href="">@session.get("name")</a>
                        }
                    </li>
                    <li>
                        @if(session.get("userID") == null){
                            <a href="@routes.UsersController.create()">ユーザー登録</a>
                        }
                    </li>
                </ul>

            </div><!--/.nav-collapse -->
        </div>

        <!--2段目のnavbar-->
        <div class="col-md-12">
            <div class="navbar-header">
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <!--ログインセッション次第で、出力を変える-->
                            <a>　　　</a>
                        </li>
                        <li class="bg-success">
                            <a href="@routes.UsersController.show(user.id)">@user.getName</a>
                        </li>
                        <li>
                            @if(!(session.get("userID").equals(user.userID))){
                                @if(user.get_whitch_follow_or(user.id, Integer.parseInt(session.get("id")))){
                                    <a href="@routes.FollowsController.follow(user.id)">フォローする</a>
                                }
                                @if(!(user.get_whitch_follow_or(user.id, Integer.parseInt(session.get("id"))))){
                                    <a href="@routes.FollowsController.follow(user.id)">フォローを外す</a>
                                }
                            }
                        </li>
                        <li>
                            <a>ツイート<br> <strong class="text-primary"><font size="3">@user.getTweets.size()</font></strong></a>
                        </li>
                        <li>
                            <a href="@routes.FollowsController.show(user.id)">フォロー<br> <strong class="text-primary"><font size="3">@user.get_this_Followed_list(user.id).size()</font></strong></a>
                        </li>
                        <li>
                            <a href="@routes.FollowsController.show_ver2(user.id)">フォロワー<br> <strong class="text-primary"><font size="3">@user.get_this_beFollowed_list(user.id).size()</font></strong></a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
                　<!--空白注意-->
            </div>
        </div>
        <!--2段目navbar終了-->

    </nav>
    <!--navバー終了-->
    <br>

    <h5>フォロワーー覧</h5>

    <ul>
        @for(i <- tables){
        <ul>
            <a href="@routes.UsersController.show(i)"><font size="3">@User.find.byId(i).getName</font></a>
            <span>@@@User.find.byId(i).getUserName</span>
        </ul>
        <br>
        }
        <br>
    </ul>
}